.SkillsHeading {
  text-align: center;
  padding: 50px 10px;
  padding-top: 150px;
  font-size: 52px;
  letter-spacing: 0.6px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 50px 10%;
}
