.textSkillBox {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 3px;

  font-size: 14px;
  font-weight: 600;

  border: 2px solid #9067c6;
  border-radius: 5px;
  transition: 0.5s;
}

.textSkillBox span {
  margin-left: 5px;
}

.SkillBox {
  width: max(10%, 125px);
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px 25px 25px 0px;

  font-size: 64px;

  border: 3px solid #9067c6;
  border-radius: 5px;
  transition: 0.5s;
}
.SkillBox:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px 0 #431f47;
}

@media (max-width: 500px) {
  .textSkillBox {
    font-size: 12px;
  }
  .SkillBox {
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 10px;
  }
}
