.AboutPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.AboutText {
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.AboutText a {
  color: #9067c6;
  text-decoration: underline;
  font-weight: bold;
}

.Avatar {
  width: 280px;
}

@media (max-width: 900px) {
  .AboutPage {
    display: block;
    text-align: center;
    padding: 30px;
  }
  .AboutText {
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .AboutTextHeading {
    font-size: 26px;
  }

  .Avatar {
    width: 200px;
    margin-bottom: 75px;
  }
}
@media (max-width: 500px) {
  .AboutText {
    font-size: 16px;
  }
  .Avatar {
    width: 200px;
    margin-bottom: 25px;
  }
}
