.projectBox {
  width: 350px;
  border: 3px solid #9067c6;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 22px;

  margin: 0px 25px 50px 25px;
  transition: 0.5s;
}
.projectBox:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 #431f47;
}

.projectPhoto {
  display: block;
  width: 100%;
  margin: 20px 0px;
}

.projectbtn {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  border-radius: 5px;
  background-color: #64478a;
  color: #e7e7e7;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
}
