.projectBox {
  width: 350px;
  border: 3px solid #9067c6;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 22px;

  margin: 0px 25px 50px 25px;
  transition: 0.5s;
}

ul {
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

li {
  margin-bottom: 10px;
}

.projectBox:hover {
  box-shadow: 0 2px 50px 0 #431f47;
}

.projectPhoto {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

/** TECH LIST SECTION **/

.technologies {
  margin-top: 15px;
  text-align: left;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

/** BUTTON SECTION**/

.buttonContainer a {
  display: flex;
  flex: 1;
  text-decoration: none;
}

.projectbtn {
  flex: 1;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #64478a;
  color: #e7e7e7;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: all 0.5s;
}

.projectbtn:hover {
  transform: scale(1.025);
  background-color: #e7e7e7;
  box-shadow: 0 0 15px 5px #9067c6;
  color: #9067c6;
}
