* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #031926;
  color: #e7e7e7;
  min-height: 100vh;
}

b {
  font-weight: 900;
  color: #9067c6;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #274656;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #01111a;
  border-radius: 100px;
}

/* Background */
.bg {
  position: fixed;
  z-index: -1;
  bottom: 0px;
}

.bgtwo {
  position: fixed;
  z-index: -1;
  top: 220px;
}

.bgtemp {
  position: fixed;
  z-index: -1;
  top: -30px;
}